server:
  port: 8081

keycloak:
  base: http://localhost:8080/auth
  realm: pucrs-cs
  client-id: keyseguro
  client-secret: 6c923abc-a643-4765-a7d0-5f6bd6d5c672
  user: admin
  pass: Pa55w0rd
  roles: admin, professor, aluno

spring:
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: ${keycloak.client-id}
            client-secret: ${keycloak.client-secret}
        provider:
          keycloak:
            issuer-uri: ${keycloak.base}/realms/${keycloak.realm}
      resourceserver:
        jwt:
          jwk-set-uri: ${keycloak.base}/realms/${keycloak.realm}/protocol/openid-connect/certs

springdoc:
  swagger-ui:
    path: /docs